/*::-webkit-scrollbar::*/
::-webkit-scrollbar {
    width: 0.75em;
    height: 0.75em;
    top: 100px;
}

::-webkit-scrollbar-thumb {
    background: rgb(131, 131, 131);
    border-radius: 100vw;
    border: .20em solid white;
    transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 173, 173);
}

body {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 200vh;
    width: 100%;
    background-color: white;
}

#main {
    display: flex;
    position: relative;
    justify-content: center;
    top: 50px;
    width: 100%;
    margin-top: 10px;
}
/*HEADER*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 15px 50px;
    z-index: 100000;
    background-color: white;
    box-shadow: 0px 0px 25px -5px rgb(112, 112, 241);
}

header a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color:black;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: none;
}
/*FOOTER*/
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    transition: 0.6s;
    z-index: 100000;
    background-color: transparent;
}

.buttons {
    display: flex;
    margin-left: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    left: -25px;
    top: -20px;
}

.buttons::before{
    content: attr(data-tooltip);
    position: relative;
    top: -1.5rem;
    right: -4.25rem;
    border-radius: 10px;
    background-color: rgb(112, 112, 241);
    padding: 4.5px 12px;
}

.action {
    border: 0;
    border-radius: 50%;
    background-color: rgb(211, 211, 211);
    color: #666666;
    padding: 15.5px 20.2px;
    
}

.action:hover {
    color: rgb(112, 112, 241);
}

@media only screen and (max-width: 830px) {
    .buttons {
    left: -50px;
    }
}

@media only screen and (max-width: 580px) {
    .buttons {
    left: -75px;
    }
}
/*-----*/
.btnt {
    padding-left: 10px;
    display: flex;
    margin-left: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 112, 241);
    border: none;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    left: 10px;
}
/*PRODUCTS.EJS*/
.grid{
    display: grid;
    position: relative;
    max-width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.card-body {
    padding: 12.5px;
}

.card-title {
    padding-top: 7.5px;
}

.card-text {
    margin-bottom: 10px;
}

.card {
    border-radius: 15px;
    margin: 7.5px;
    transition: 0.6s;
}

.card:hover {
    transition: 0.6s; 
    box-shadow: 0px 0px 25px -5px rgb(112, 112, 241);
}
/*CART.EJS*/
.row {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    transition: 0.6s;
    margin: 0px;
    bottom: 10px;
}

.row.row-product {
    padding: 20px;
    min-height: 50px;
}

.form-control {
    width: 100px;
}

.input-update {
    padding: 0 0.375rem;
}

.input-product {
    line-height: 2.5;
}

.input-price {
    text-align: right;
    line-height: 2.5;
}

.row-product {
    padding: 0.375rem 0;
    height: 100px;
}

