/*::-webkit-scrollbar::*/
::-webkit-scrollbar {
    width: 0.75em;
    height: 0.75em;
    top: 100px;
}

::-webkit-scrollbar-thumb {
    background: rgb(131, 131, 131);
    border-radius: 100vw;
    border: .20em solid white;
    transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 173, 173);
}

body {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 200vh;
    width: 100%;
    background-color: white;
}

#main {
    display: flex;
    position: relative;
    justify-content: center;
    top: 50px;
    width: 100%;
    margin-top: 10px;
}
/*HEADER*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 5px 50px;
    z-index: 100000;
    background-color: white;
    box-shadow: 0px 0px 25px -5px rgb(173, 173, 173);
}

header a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color:black;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: none;
}

.fas.fa-coffee {
    display: flex;
    margin-left: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1px;
    padding: 10px;
    width: 64px;
    height: 55px;
    border-radius: 50%;
    background-color:rgb(211, 211, 211);
    transition: 0.6s;
}

.fas.fa-coffee:hover {
    transition: 0.6s;
    color: rgb(112, 112, 241);
}

/*FOOTER*/
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10%;
    display: flex;
    justify-content: space-between;
    transition: 0.6s;
    z-index: 100000;
    background-color: transparent;
}

.buttons {
    display: flex;
    margin-left: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    left: -25px;
    top: -20px;
}

.buttons::before{
    content: attr(data-tooltip);
    position: relative;
    top: -1.5rem;
    right: -4.25rem;
    border-radius: 10px;
    background-color: rgb(112, 112, 241);
    padding: 4.5px 12px;
}

.action {
    border: 0;
    border-radius: 50%;
    background-color: rgb(211, 211, 211);
    color: #666666;
    padding: 15.5px 20.2px;  
}

.action:hover {
    transition: 0.6s;
    color:rgb(112, 112, 241)
}
/*PRODUCTS.EJS*/
.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    transition: 0.6s;
}

@media only screen and (max-width: 1250px) {
    .grid {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 920px) {
    .grid {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 768px) {
    footer {
        display: flex;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 620px) {
    .grid {
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 375px) {
    header {
        padding-left: 20px;
    }
}

.card-body {
    padding: 12.5px;

}

.card-title {
    padding-top: 7.5px;
}

.card-text {
    margin-bottom: 10px;
}

.card {
    border-radius: 15px;
    margin: 7.5px;
    transition: 0.6s;
    background-color: whitesmoke;
    border: none;
}

.card:hover {
    transition: 0.6s; 
    box-shadow: 0px 0px 25px -5px rgb(173, 173, 173);;
}

.btn.btn-primary {
    background-color: rgb(112, 112, 241);
}
/*CART.EJS*/
.form-control {
    width: 100px;
    border-radius: 10px;
    margin-top: 50px;
}

.input-update {
    padding: 0 0.375rem;
}

.input-product {
    line-height: 2.5;
    margin-left: 50px;
    background-color: whitesmoke;
}

.input-price {
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 2.5;
}

.btnt {
    display: flex;
    margin-left: 13.5px;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 112, 241);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

.product {
    padding: 0.375rem 0;
    height: 175px;
    max-width: 100%; 
    margin: 10px 10px 10px 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.6s; 
    background-color: whitesmoke;
    border-radius: 10px;
}

.product:hover {
    transition: 0.6s; 
    box-shadow: 0px 0px 25px -5px rgb(112, 112, 241);
}

.card-imgan {
    height: 150px;
    border-radius: 10px;
    margin-right: 150px;
}

@media only screen and (max-width: 992px) {
    .product {
        height: 210px;
    }
    .list {
        display: grid;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        grid-template-columns: 560px;
        grid-auto-rows: 230px;
        padding: 10px;
    }
    .card-imgan {
        margin-right: 0px;
        height: 100px;
        margin-left: 5px;
    }
    .input-product {
        margin-left: 20px;
        margin-right: 0px;
    }
    .input-price {
        margin: 10px;
        width: 75px;
    }
}

@media only screen and (max-width: 560px) {
    .product {
        display: grid;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 200px;
        height: 400px;
        padding: 10px;
        grid-template-columns: 200px;
        grid-auto-rows: 80px;
        
    }
    .list {
        grid-template-columns: 200px;
        grid-auto-rows: 430px;
    }
    .form-control {
        margin: 0px;
        margin-left: none;
        padding: none;
    }
    .form {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .input-product {
        margin-left: 0px;
        text-align: center;
    }
    .form-group {
        width: 100px;
        text-align: center;
    }
    .card-imgan {
        text-align: center;
        margin-left: 0px;
    }
    .btnt {
        margin-left: 60px;
    }
    .input-price {
        margin-left: 50px;
    }
}

.list {
    padding: 20px;
    width: auto;
    border-radius: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card-imgan2 {
    height: 210px;
    border-radius: 10px;
    margin: 0px;
}

.btn-remove {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.total {
    border-radius: 15px;
    
    transition: 0.6s;
    background-color: whitesmoke;
    border: none;
}